{% extends "ecommerce/base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>About Us</h2>
				<br />
				
				<p><img src="https://picsum.photos/g/1200/300" class="img-responsive" width="100%"></p>
				<p>An E-Commerce portal (The CollectionKart) which will allow formal and informal merchants in developing countries to advertise and sell their goods on the internet. It would focus on dealing in collectible items mainly coins and currency notes. </p>
                <p>The objective of this project is to create an e-commerce web portal which will give collectors the freedom to explore items which belongs to only their niche and add the item into their collection by buying items from only “trusted” sellers. </p>
				
				</div>
		</div>
	</div>
{% endblock %}