{% extends "ecommerce/base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h2>Contact Us</h2>
				<br />
				<table class="table">
					<tr>	
						<th><i class="fa fa-home fa-1x"></i> Address:</th>               
						<td>Gurgaon, Haryana-122001 , India</td>
					</tr>
					<tr>
						<th><i class="fa fa-envelope fa-1x"></i> E-Mail Address:</th>
						<td><a href="mailto:carl.fontanos@gmail.com">jainanuj827@gmail.com</a></td>
					</tr>
					<tr>
						<th><i class="fa fa-user fa-1x"></i> Author:</th>
						<td><p style="background: red; width: 90px; color: white; padding: 5px; border-radius: 5px;"><b> ANUJJAIN </b></p></td>
					</tr>
					<tr>
						<th><i class="fa fa-link fa-1x"></i> Website:</th>
						<td><a href="http://www.carlofontanos.com">jiananuj.pythonanywhere.com/ecommerce</a></td>
					</tr>
				</table>
				<br >
            </div>
		</div>
	</div>
       

{% endblock %}