{% extends "ecommerce/base.html" %}
{% load humanize static %}

{% block content %}
	
	<div id="home-carousel" class="carousel slide" data-ride="carousel" style="margin-top: -15px;">
		<ol class="carousel-indicators">
			<li data-target="#home-carousel" data-slide-to="0" class="active"></li>
			<li data-target="#home-carousel" data-slide-to="1"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="{% static 'ecommerce/img/currency1.jpg' %}" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="{% static 'ecommerce/img/currency2.jpg' %}" class="d-block w-100" alt="...">
			</div>
		</div>
		<a class="carousel-control-prev" href="#home-carousel" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#home-carousel" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	
	<div class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<h3><i class="fa fa-check-circle"></i> Coins</h3>
					<p>A coin is a small, flat, round piece of metal or plastic used primarily as a medium of exchange or legal tender.</p>
				</div>
				<div class="col-lg-4 col-md-4">
					<h3><i class="fa fa-pencil"></i> Currency Bill</h3>
					<p>A currency, in the most specific sense is money in any form when in use or circulation as a medium of exchange, especially circulating banknotes.</p>
				</div>
				<div class="col-lg-4 col-md-4">
					<h3><i class="fa fa-folder-open"></i> Numismatics platform</h3>
					<p>Ecommerce platform for numismatics to deal in both!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="py-5 text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Modern Business: A Clean & Simple Ecommerce <i class="fa fa-shopping-cart aria-hidden="true""> </i> Platform for <br> YOU!</h2>
					<p>A complete Ecommerce website featuring various operations for you!</p>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<div class="py-5">
		<div class="container">
			<h2 class="text-center">Featured Products</h2>
			<hr>
			<div class="row">
				{% for item in products %}
					<div class='col-md-3 col-sm-6 mb-3'>
						<div class='card'>
							<div class='card-body p-0'>
								<a href="{% url 'ecommerce:single_product' item.id %}">
									<img src='{{ item.featured_image }}' width='100%' class='img-responsive'>
								</a>
								<div class='list-group list-group-flush'>
									<div class='list-group-item border-top-0 py-2'>
										<i class='fa fa-shopping-cart fa-2x pr-3 pt-3 float-left'></i>
										<p class='list-group-item-text mb-0'>Price</p>
										<h4 class='list-group-item-heading'>{{ currency }} {{ item.price|intcomma }}</h4>
									</div>
									<div class='list-group-item py-2'>
										<i class='fa fa-cubes fa-2x pr-3 pt-3 float-left'></i>
										<p class='list-group-item-text mb-0'>On Stock</p>
										<h4 class='list-group-item-heading'>{{ item.quantity }}</h4>
									</div>
								</div>
							</div> 
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<h2>The story of a Circular metal:</h2><br>
					<p>The world's first coins appeared around 600 B.C., jingling around in the pockets of the Lydians, a kingdom tied to ancient Greece and located in modern-day Turkey. They featured the stylized head of a lion and were made of electrum, an alloy of gold and silver. The concept of money had been around awhile.</p>

				</div>
				<div class="col-lg-6 col-md-6 col-sm-6"><img src="https://picsum.photos/g/700/450/?random" class="w-100"></div>
			</div>
		</div>
	</div>
	<div class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6"><img src="https://picsum.photos/g/700/450/?random" class="w-100"></div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<h2>The history of the INDIAN currency notes:</h2><br>
					<p>The symbol chosen for the paper currency was the Lion capital at Sarnath which replaced the George VI series of bank notes. So, the first banknote printed by the Independent India was a 1 rupee note. Do you know the history of 1 rupee note: One rupee note was issued on 30 November,1917 under the British Raj.</p>

				</div>
			</div>
		</div>
	</div>
{% endblock %}